node_modules/
.nx/
**/cmake-build-*/
**/build/
!apps/sol/src_assets/macos/build/
!apps/sol/src_assets/macos/build/**
**/build-release/
**/dist/
**/coverage/
**/.venv/
**/*.tsbuildinfo
**/extensions/eclipse-core/bin/
**/extensions/terra-core/bin/
**/.native-stage.lock
