[submodule "sol/flatpak-builder-tools"]
	path = apps/sol/packaging/linux/flatpak/deps/flatpak-builder-tools
	url = https://github.com/flatpak/flatpak-builder-tools.git
[submodule "sol/build-deps"]
	path = apps/sol/third-party/build-deps
	url = https://github.com/LizardByte/build-deps.git
[submodule "sol/doxyconfig"]
	path = apps/sol/third-party/doxyconfig
	url = https://github.com/LizardByte/doxyconfig.git
[submodule "sol/glad"]
	path = apps/sol/third-party/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "sol/libdisplaydevice"]
	path = apps/sol/third-party/libdisplaydevice
	url = https://github.com/LizardByte/libdisplaydevice.git
[submodule "sol/libvirtualhid"]
	path = apps/sol/third-party/libvirtualhid
	url = https://github.com/LizardByte/libvirtualhid.git
[submodule "sol/lizardbyte-common"]
	path = apps/sol/third-party/lizardbyte-common
	url = https://github.com/LizardByte/lizardbyte-common.git
[submodule "sol/moonlight-common-c"]
	path = apps/sol/third-party/moonlight-common-c
	url = https://github.com/moonlight-stream/moonlight-common-c.git
[submodule "sol/nvapi"]
	path = apps/sol/third-party/nvapi
	url = https://github.com/NVIDIA/nvapi.git
[submodule "sol/plasma-wayland-protocols"]
	path = apps/sol/third-party/plasma-wayland-protocols
	url = https://github.com/KDE/plasma-wayland-protocols.git
[submodule "sol/Simple-Web-Server"]
	path = apps/sol/third-party/Simple-Web-Server
	url = https://github.com/LizardByte-infrastructure/Simple-Web-Server.git
[submodule "sol/TPCircularBuffer"]
	path = apps/sol/third-party/TPCircularBuffer
	url = https://github.com/michaeltyson/TPCircularBuffer.git
[submodule "sol/tray"]
	path = apps/sol/third-party/tray
	url = https://github.com/LizardByte/tray.git
[submodule "sol/ViGEmClient"]
	path = apps/sol/third-party/ViGEmClient
	url = https://github.com/LizardByte/Virtual-Gamepad-Emulation-Client.git
[submodule "sol/wayland-protocols"]
	path = apps/sol/third-party/wayland-protocols
	url = https://github.com/LizardByte-infrastructure/wayland-protocols.git
[submodule "sol/wlr-protocols"]
	path = apps/sol/third-party/wlr-protocols
	url = https://github.com/LizardByte-infrastructure/wlr-protocols.git
[submodule "terra/moonlight-qt"]
	path = apps/terra/refs/moonlight-qt
	url = https://github.com/moonlight-stream/moonlight-qt.git
[submodule "sol/solvdd"]
	path = apps/sol/third-party/solvdd
	url = https://github.com/nikolas-sturm/solvdd.git
